
<p style="color: green"><%= notice %></p>

<h1>Contact Directory</h1>

<p>TOTAL CONTACT(from helper): <%= list_count(@lists) %></p>

<%= form_tag(filtered_index_lists_path, method: :get, class: "search-form") do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search by number..." %>
  <%= submit_tag "Search" %>
<% end %>
<%= render partial: 'list_table', locals: { lists: @lists } %>
