<p style="color: green"><%= notice %></p>

<h1>Contact directory</h1>

<p>TOTAL CONTACTS (from helper): <%= list_count(@lists) %></p>
<p>LOWEST AGE NUMBER: <%= load_number_lowest(@lists) %></p>
<p>OLDEST AGE NUMBER: <%= load_number_max(@lists) %></p>

<%= render partial: 'list_table', locals: { lists: @lists } %>
