<p style="color: green"><%= notice %></p>

<%= render @list %>

<div>
<button type="button" class="btn btn-dark">
  <%= link_to "Edit", edit_list_path(@list), class:"nav-link active" %> 
  </button>
  <button type="button" class="btn btn-dark" >
  <%= link_to 'destroy', @list, method: :DELETE, class:"nav-link active" %>
  
  </button>
  <button type="button" class="btn btn-dark" >
  <%= link_to "home page", root_path, class:"nav-link active" %>
  </button>
</div>
